<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109346207769-eqdf2j4dgcjnb68eb49fvujciiqlu3g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109346207769-eqdf2j4dgcjnb68eb49fvujciiqlu3g8</string>
	<key>API_KEY</key>
	<string>AIzaSyDbqy1KhAkhNDH9GqQdY7eyMb14oFDlHkI</string>
	<key>GCM_SENDER_ID</key>
	<string>109346207769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-1ee31</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-1ee31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109346207769:ios:0b1453d00d02202a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-1ee31.firebaseio.com</string>
</dict>
</plist>